<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=Indie+Flower&family=Patrick+Hand&family=Raleway:ital,wght@0,200;0,300;0,500;1,100;1,200;1,300;1,400&family=Sono:wght@200;300;400;500;600&family=Zeyada&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <h1>“Until we can manage time, we can manage nothing else.” </h1>
    <h3>You are one step of meeting the <span>most productive</span> version of yourself!</h3>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="User Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit" value="Go!">
    </form>
</body>
</html>